<h1> Facebook Post Submit </h1>



<form action="/userc/create" method="post">
	<label for="name">NAME :</label> <br>
	<input type="text" id="name" name="name">
	<br><br>
	<label for="age">AGE :</label> <br>
	<input type="number" id="age" name="age">
	<br><br>
	<label for="email">EMAIL :</label> <br>
	<input type="email" id="email" name="email">
	<br><br>

	<input type="submit" value="Submit">


</form>


