<!DOCTYPE html>
<html>
<head>
  <title>Secondproject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #c0fbf9">

<%= yield %>

</body>
</html>
